/* Global Rules */
:root {
  --main-color: #bdc3c7;
  --alt-color: #2c3e50;
  --main-text-color: #fff;
  --border: 1px solid var(--main-text-color);
  --border-hover: 1px solid var(--alt-color);
  --transition: all 0.3s ease-in-out;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: system-ui;
}
::selection {
  color: var(--alt-color);
  background-color: var(--main-text-color);
}
/* Page */
.page {
  display: grid;
  grid-template-columns: 300px 1fr;
}
/* Start Aside */
aside {
  background-color: var(--alt-color);
  padding: 10px 20px;
  border-right: var(--border);
  min-height: 100vh;
}
aside > div:has(.logo-img) {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: var(--border);
}
.logo-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  border: var(--border);
  flex-shrink: 0;
}
.logo-img img {
  max-width: 100%;
}
h1 {
  padding-left: 15px;
  font-size: 25px;
  color: var(--main-text-color);
  text-transform: capitalize;
}
/* Start Change Theme */
.theme {
  background-color: var(--main-color);
  width: 80px;
  height: 40px;
  border-radius: 40px;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: var(--border);
  margin-bottom: 15px;
  cursor: pointer;
  transition: var(--transition);
}
.theme i:nth-child(1) {
  color: var(--main-color);
  background-color: var(--alt-color);
  width: 28px;
  height: 28px;
  text-align: center;
  padding: 4px;
  border-radius: 50%;
}
.theme i:nth-child(2) {
  font-size: 23px;
}
.theme i:nth-child(2) {
  color: var(--main-text-color);
}
/* End Change Theme */
aside ul li {
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 10px;
  height: 55px;
  border: var(--border);
  transition: var(--transition);
}
aside ul li:hover,
.active {
  border: var(--border-hover);
}
aside a {
  color: var(--main-text-color);
  display: flex;
  align-items: flex-start;
  font-size: 15px;
  text-transform: capitalize;
  transition: var(--transition);
}
aside a:hover,
.active {
  transform: translateX(30px);
}
aside a i {
  margin-right: 28px;
  font-size: 28px;
}
/* End Aside */
/* Container */
.container {
  padding: 30px;
}
.container h2 {
  text-transform: capitalize;
  font-weight: 600;
  color: var(--alt-color);
}
.container p {
  font-weight: 500;
}
.container i {
  color: var(--alt-color);
  font-size: 30px;
}
.container > div {
  line-height: 1.7;
}
.projects a {
  color: #000;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.projects a:hover {
  color: var(--main-color) !important;
}
.about > div,
.certificates > div,
.skills > div {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  align-items: flex-start;
}
.about > div > div,
.skills > div > div {
  min-width: 45%;
}
.certificates,
.skills,
.projects {
  text-transform: capitalize;
}
.projects {
  line-height: 2 !important;
}
.contact {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px 0;
  margin-top: 150px;
}
.contact i {
  font-size: 60px;
  transition: var(--transition);
}
.contact a i:hover,
.contact img:hover {
  transform: translateY(-8px);
  -webkit-transform: translateY(-8px);
  -moz-transform: translateY(-8px);
  -ms-transform: translateY(-8px);
  -o-transform: translateY(-8px);
}
.contact a:nth-of-type(2) i,
.contact a:nth-of-type(6) i {
  color: #000;
}
.contact a:nth-of-type(1) i,
.contact a:nth-of-type(8) i,
.projects a:visited {
  color: #1877f2 !important;
}
.contact a:nth-of-type(3) i {
  color: #0a0a23;
}
.contact a:nth-of-type(7) i {
  color: #f4832a;
}
.contact img {
  width: 60px;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}
.projects,
.certificates,
.skills {
  display: none;
}
/* Responsive */
@media (max-width: 991px) {
  .page {
    grid-template-columns: auto 1fr;
  }
  aside {
    width: 80px !important;
    overflow-x: hidden;
    padding: 10px;
    transition: var(--transition);
  }
  aside a i {
    font-size: 35px;
  }
  aside:hover {
    width: 300px !important;
  }
  .logo-img {
    width: 65px;
    height: 65px;
  }
  .theme {
    width: 70px;
    height: auto;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    padding: 5px;
    font-size: 19px !important;
    margin-left: -5px;
  }
  .contact {
    margin-top: 50px;
  }
}
